@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

.app {
    font-family: 'Comfortaa', sans-serif;
    height: 100vh;
    background-image: linear-gradient(to left top, #001111, #011616, #021a19, #021d1d, #002121);
    background-color: rgb(0, 17, 17);
    text-align: center;
    color: rgb(224, 253, 253);
    line-height: 1.8em;
}


a {
    color:  rgb(66, 255, 224, 0.5);
    text-decoration: none;
    transition: all 0.5s;
}

a:hover {
    color:  rgb(66, 255, 224)
}

.content-wrap {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
}

.blob {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}

.blob1 {
    height: 100vh;
    left: -20px;
    top: -70px
}

@media only screen and (max-width: 600px) {
    .blob1 {
      height: 70vh;
      width: 100vw;
      top: 110px
    }
}